body {
  font-family: sans-serif;
  text-align: center;
  color: #ffffff;
  background-color: #501616;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-bottom: 2px solid #ffffff;
}
nav h6 a {
  color: #ffffff;
}
body a {
  color: #ffffff;
}
div ul {
  list-style: none;
}
h1 {
  font-size: 20px;
}
footer {
  padding: 20px;
  color: #000000;
}
